@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  color: white;
}

header {
  background: #1e272e;
  width: 100%;
  padding: 1em;
}

p {
  text-align: center;
  font-weight: 900;
  font-size: 20px;
}

#issMap {
  margin: auto;
  width: 100%;
  height: 350px;
  opacity: 0.9;
  border-radius: 5px;
}

#lat,
#lon {
  color: greenyellow;
}

hr {
  margin-top: 2rem;
}

footer {
  text-align: center;
  margin: 1rem 0;
}

@media only screen and (min-width: 1200px) {
  #issMap {
    margin: auto;
    width: 65%;
    height: 500px;
  }
}